/* system-status */
#system-status {
  height: 260px;
}

#system-hr {
  background-color: #5f47b0;
}

#system-status .percentage .percent {
  font-size: 48px; 
}

#system-status .percentage .unit {
  font-size: 24px;
  vertical-align: top;  
}

/* system-charts */
#history-label {
  margin-top: -2px;
  margin-bottom: 2%; 
}

.history-label {
  color: #2e8965;
  font-weight: bold;
  font-size: 24px;
}

#history-chart {
  height: 428px;
}

/* -----------------------------------------
   Start same value
----------------------------------------- */
.ace-nav > li {
  height: 44px;
}

.ace-nav > li > a {
  line-height: 44px;
  font-weight: bold;
}

 /* end */
 .navbar-brand {
  font-weight: bold;
}
 
.navbar-menu-text-size {
  font-size: 18px;
}
 
.widget-title {
  line-height: 36px;
  padding: 0;
  margin: 0;
  display: inline;
  font-weight: bold;
  
}

.widget-content {
  text-align: center;  
  height: 60px;  
}

.widget-content > .value-total-voltage,
.widget-content > .value-total-amp {
  font-size: 36px;  
}

.widget-content > .unit-total-voltage,
.widget-content > .unit-total-amp,
.infobox-data > .value-cell-voltage,
.infobox-data > .value-cell-amp {
  font-size: 22px; 
}

.infobox-data > .unit-cell-voltage,
.infobox-data > .unit-cell-amp {
  font-size: 16px; 
}

.percentage .percent {
  font-size: 24px; 
}

.percentage .unit {
  font-size: 16px;
  vertical-align: top;  
}

/* -----------------------------------------
   Color
----------------------------------------- */
.color-brown {
  color: #997744;
}

.color-grey {
  color: #9e9e9e;
}

.color-blue4 {
  color: #A0C8FA;
  border-color: #A0C8FA;
}

.color-blue5 {
  color: #6379aa;
  border-color: #6379aa;
}

.color-purple3 {
  color: #5f47b0;
  border-color: #5f47b0;
}

.background-color-yellow {
  background: #FCBF07;
  border-color: #FCBF07;
}

.background-color-brown {
  background: #997744;
  border-color: #997744
}

.background-color-brown2 {
  background: #C86446;
  border-color: #C86446
}

.background-color-brown3 {
  background: #DC8C78;
  border-color: #DC8C78
}

.background-color-purple {
  background: #6f3cc4;
  border-color: #6f3cc4
}

.background-color-purple2 {
  background: #5f47b0;
  border-color: #5f47b0
}

.background-color-purple3 {
  background: #B97DE6;
  border-color: #B97DE6
}

.background-color-blue4 {
  background: #A0C8FA;
  border-color: #A0C8FA
}

.background-color-grey {
  background: #666;
  border-color: #666
}

.custom-progressbar.blue .percent,
.custom-progressbar.blue .description {
  color: #0a97b9;
}
.custom-progressbar.red .percent,
.custom-progressbar.red .description {
  color: #c04b59;
  }  
.custom-progressbar.yellow .percent,
.custom-progressbar.yellow .description {
  color: #d69840;
}
.custom-progressbar.green .percent,
.custom-progressbar.green .description {
  color: #47a877;
}
.custom-progressbar.purple .percent,
.custom-progressbar.purple .description {
 color: #5f47b0;
}

/* -----------------------------------------
   Custom progressbar
----------------------------------------- */
.custom-progressbar {
  display: inline-block;
  position: relative;
}
.custom-progressbar svg {
  display: block;
  width: 100%;
}
.custom-progressbar .percent,
.custom-progressbar .description {
  display: inline-block;
  width: 100%;
  position: absolute;
}
.custom-progressbar .percent {
  top: 50%;
  left: 0;
  margin-top: -55px;
  font-size: 64px;
}
.custom-progressbar .percent span {
  font-size: 24px;
  padding-top: 10px;
  vertical-align: text-top;
  display: inline-block;
}
.custom-progressbar .description {
  top: 50%;
  left: 0;
  margin-top: 40px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

/* Shung add 0309 */

.table-header > .table-title {
  line-height: 36px;
  padding: 0;
  margin: 0;
  display: inline;
  font-weight: bold;
}

.table-content {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.navbar .navbar-brand {
  color: #ffffff;
  font-size: 24px;
  text-shadow: none;
  padding-top: 2px;
  padding-bottom: 2px;
  height: auto;
}

@media only screen and (min-width: 992px) {
  .navbar-container {
   padding: 2px;  
  }
}

.ace-nav > li {
  background-color: #2e6589;
  line-height: 100%;
  border-left: 1px solid #E1E1E1;
  padding: 0;
  position: relative;
  float: left;
}

.ace-nav > li > a {  
  color: #FFF;
  display: block;
  text-align: center;
  height: 100%;
  width: auto;
  min-width: 50px;
  padding: 0 8px;
  position: relative;  
  vertical-align: center; 
}

.breadcrumb {
  background-color: transparent;
  display: inline-block;
  line-height: 20px;
  margin: 6px 22px 0 12px;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  border-radius: 0;
}

.widget-main {
  padding: 12px;
  text-align: center;
}

.widget-box.light-border[class*="widget-color-"]:not(.fullscreen) {
  border-width: 2px;
}

.widget-box.right-border {
  border-width: 0px 1px 0px 0px;
}

.infobox {
  display: inline-block;
  width: 295px;
  height: 200px;
  color: #555;
  background-color: #FFF;
  box-shadow: none;
  border-radius: 0;
  margin: -1px 0 0 -1px;
  padding: 8px 3px 6px 9px;
  border: 1px dotted;
  border-color: #D8D8D8 !important;
  vertical-align: middle;
  text-align: left;
  position: relative;
  text-align: center;
}

.infobox-data {  
  font-size: 36px;
  font-weight: bold;
  text-align: center; 
  min-width: 130px; 
  position: relative;
  margin-top: -3%;
}

.infobox > .infobox-progress {
  padding-top: 0;
  display: inline-block;
  vertical-align: top;  
}

.infobox-small > .infobox-data {
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  max-width: 72px;
  min-width: 0;
}

.percentage {
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
}

/* -----------------------------------------
   Mavis Code Begins Here
----------------------------------------- */

/*----- common style items begin -----*/
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

#elink { 
  font-size: 15px;
  font-family: 'LiHei Pro', '新細明體', sans-serif;
}

.font-white {
  color: #FFF;
}

.font-16 {
  font-size: 16px;
}

.font-14 {
  font-size: 14px;
}

.white {
  color: white;
}

.bkgd-green {
  background: #459171;
}

.edit-blue {
  color: #478FCA;
}
/*----- common style items end -----*/


/*----- discharge-date-table @ discharge.html begins -----*/
#theader1 {
  font-size: 18px;
}

#discharge-date-table > tbody > tr > td {
  text-align: center;
  font-size: 15px;
}

#discharge-date-table_wrapper .row:first-child {
  padding-top: 6px;
  padding-bottom: 2px;
}

#discharge-date-table_wrapper .row:last-child {
  border-bottom: 1px solid #e0e0e0;
  padding-top: 10px;
  padding-bottom: 6px;
}
/*----- discharge-date-table @ discharge.html ends -----*/


/*----- cell page begins -----*/
.pie-info {
  font-size: 20px;
  font-weight: bold;
  color: #2d5a6b;
  font-family: sans-serif;
}

#cell-history-table_wrapper .row:first-child {
  padding-top: 6px;
  padding-bottom: 2px;
}

#cell-history-table_wrapper .row:last-child {
  border-bottom: 1px solid #e0e0e0;
  padding-top: 6px;
  padding-bottom: 4px;
}
/*----- cell page ends -----*/


/*----- module page begins here -----*/
#cell-alarm-setting, #module-alarm-setting {
  margin-bottom: 10px;
}

.pie-num {
  font-size: 18px;
  font-weight: bold;
  color: #606060;
  font-family: sans-serif;
}

.page-content > .row .minus-mgbm-8 {
  margin-bottom: -8px;
}
/*----- module page ends here -----*/


/*----- log page begins here -----*/
.add-mgbm-8 {
  margin-bottom: 5px;
  margin-top: -6px;
}

#user-log-table, #alarm-log-table {
  margin-bottom: 8px;
} 

#log-tab-content {
  padding: 10px 22px 16px 22px;
}

.bkgd-table-blue {
  background-color: #EFF3F8;
}

#alarm-log-table_wrapper, #user-log-table_wrapper {
  margin-top: -5px;
}

#alarm-log-table_length, #user-log-table_length {
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: -30px;
}

#alarm-log-table_info, #user-log-table_info {
  padding-left: 10px;
  margin-bottom: -15px;
}

#alarm-log-table_paginate, #user-log-table_paginate {
  padding-bottom: 10px;
}

#alarm-log-table_filter label,
#user-log-table_filter label {
  margin-right: 10px;
}
/*----- log page ends here -----*/


/*----- index page table begins -----*/

#index-discharge-date_wrapper .row:first-child,
#index-alarm-log_wrapper .row:first-child {
  padding-top: 0px;
  padding-bottom: 0px;
}

#index-discharge-date_wrapper .row:last-child,
#index-alarm-log_wrapper .row:last-child {
  border-bottom: 1px solid #e0e0e0;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #EFF3F8;
}
/*----- index page table begins -----*/












